<h1>Welcome <%= displayName %></h1>

<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img
          class="rounded-circle mt-5"
          width="150px"
          src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
        /><span class="font-weight-bold"><%= displayName %></span
        ><span class="text-black-50"> <%= emailAddress %></span><span> </span>
        <a class="nav-link active" href="/profile/healthData">Health Data</a>
        <a class="nav-link active" href="/orders">My Orders</a>
        
      </div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Account Overview</h4>
        </div>
        <div class="row mt-2">
          <div class="col-md-12">
            <label class="labels">Name</label
            ><input
              type="text"
              class="form-control"
              placeholder=""
              value="<%= displayName %>"
            readonly/>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">UserName</label
            ><input
              type="text"
              class="form-control"
              placeholder=""
              value="<%= username %>"
            readonly/>
          </div>
          <div class="col-md-12">
            <label class="labels">E-Mail</label
            ><input
              type="text"
              class="form-control"
              placeholder=""
              value="<%= emailAddress %>"
            readonly/>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
</div>

<br></br>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  
  font-size: 20px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 30px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #0e6ffb;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
</style>
</head>
<body>

<button onclick="topFunction()" id="myBtn" title="Go to top">Back To Top</button>

<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>

</body>