<link rel="stylesheet" href="/Content/cart.css" />
<div class="cart-page">
  <div class="container cart">
    <div>
      <h1><%= title %></h1>
    </div>
    <div>
      <div class="cart-content">
        <a href="/productpage" class="cart-product-link sm-col-12 md-col-4">
          <div>Fit4U Smart Watch</div>
          <div class="cart-image-container">
            <img id="cart-image" src="/Assets/images/smartwatch.jpg" />
          </div>
        </a>
        <div class="sm-col-12 md-col-4 cart-controls">
          <div class="row cart-quantity">
            <div>Quantity</div>
            <a class="col-2 btn" href="/updateCart/increase">
              <i class="fas fa-plus fa-lg"></i>
            </a>
            <span class="col-2"><%= cart.quantity %></span>
            <a class="col-2 btn" href="/updateCart/decrease">
              <i class="fas fa-minus fa-lg"></i>
            </a>
          </div>
          <div class="row">
            <a class="btn" href="/updateCart/giftToggle">
              Item is a gift <% if(cart.gift){ %>
              <span><i class="fas fa-check-square fa-lg"></i></span>
              <% } else {%>
              <span><i class="fas fa-square fa-lg"></i></span>
              <% } %>
            </a>
          </div>
        </div>
        <div class="sm-col-12 md-col-4 cart-summary">
          <div>
            <span class="cart-summary-title"> Unit Price </span>: <%=
            cart.price.toFixed(2) %>$
          </div>
          <div>
            <span class="cart-summary-title"> Tax </span>: <%=
            cart.getTaxAmount().toFixed(2) %>$
          </div>
          <div>
            <span class="cart-summary-title">Shipping </span>: <%=
            cart.shipping.toFixed(2) %>$
          </div>
          <div id="cart-subtotal">
            <span class="cart-summary-title">Subtotal </span>: <%=
            cart.getSubTotal().toFixed(2) %>$
          </div>
        </div>
      </div>
      <div class="cart-checkout-row">
        <a href="/checkout" id="cart-checkout-button" class="btn btn-primary">
          CHECKOUT
        </a>
      </div>
    </div>
  </div>
</div>
