<!--  File Name: viewtourney.ejs
      Author: Web Wiz
      Group Number: 1
      Date: July 13, 2021
-->
<script>
function toggleTable() {
    document.getElementById("uno").classList.toggle("hidden");

  let btnTrophy = document.querySelector("#btn");
  btnTrophy.addEventListener("click",() => btnTrophy.style.backgroundColor= "green");
}
  </script>

<%if (competitor.length == 8 ) { %>
    <h1 class="text-center">Tournament Tree</h1>

<div class="container">
    <div class="row">
        <div class="col-3">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                      

                    </tr>
                </thead>
                <tbody>
                    <% for(let count=0; count < 1; count++) { %>
                        <tr>
                            
                            <td id="winner1">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton" onclick="nextRound()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td>                           
                        </tr>

                        <% } %>

                        <% for(let count=1; count < 2; count++) { %>
                        <tr>
                            
                            <td id="winner2">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton2" onclick="nextRoundB()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td>                           
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                      

                    </tr>
                </thead>
                <tbody>
                    <% for(let count=2; count < 3; count++) { %>
                        <tr>
                            
                            <td id="winner3">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton3" onclick="nextRoundC()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                          
                        </tr>

                        <% } %>

                        <% for(let count=3; count < 4; count++) { %>
                        <tr>
                            
                            <td id="winner4">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton4" onclick="nextRoundD()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                          
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                        


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=4; count < 5; count++) { %>
                        <tr>
                            
                            <td id="winner5">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton5" onclick="nextRoundE()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                          
                        </tr>

                        <% } %>

                        <% for(let count=5; count < 6; count++) { %>
                        <tr>
                            
                            <td id="winner6">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton6" onclick="nextRoundF()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                          
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=6; count < 7; count++) { %>
                        <tr>
                            
                            <td id="winner7">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton7" onclick="nextRoundG()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                          
                        </tr>

                        <% } %>

                        <% for(let count=7; count < 8; count++) { %>
                        <tr>
                            
                            <td id="winner8">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton8" onclick="nextRoundH()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                          
                        </tr>

                        <% } %>

                </tbody>
            </table>
        </div>
        <div class="col-3 align-self-center">
            <table class="table table-striped" id="newmatch">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                       


                    </tr>
                </thead>
                <tbody>
                        <tr>

                            </th>
                            <td id="newPart">

                            </td>
                            <td>
                             <button id="myButton9" onclick="nextRoundI()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                         
                        </tr>
                        <tr>

                            </th>
                            <td id="newPart2">

                            </td>
                            <td>
                             <button id="myButton10" onclick="nextRoundJ()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                         
                        </tr>

                   

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                        


                    </tr>
                </thead>
                <tbody>
                    <tr>

                            </th>
                            <td id="newPart3">

                            </td>
                            <td>
                             <button id="myButton11" onclick="nextRoundK()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                         
                        </tr>
                        <tr>

                            </th>
                            <td id="newPart4">

                            </td>
                            <td>
                             <button id="myButton12" onclick="nextRoundL()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                         
                        </tr>
                </tbody>
            </table>
        </div>
        <div class="col-3 align-self-center">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                        <tr>

                            </th>
                            <td id="newPart5">
                            </td>
                            
                            <td>
                             <button id="myButton13" onclick="nextRoundM()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                        </tr>
                        <tr>

                            </th>
                            <td id="newPart6">
                            </td>
                            
                            <td>
                             <button id="myButton14" onclick="nextRoundN()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                        </tr>

                       

                </tbody>
            </table>
        </div>
        <div class="col-3 align-self-center">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Champion</th>


                    </tr>
                </thead>
                <tbody>
                        <tr>

                            </th>
                            <td id="newPart7">
                            </td>
                           
                        </tr>

                       

                </tbody>
            </table>
        </div>
    </div>
</div>

<% } %>

<!------------------------------------------------------------------------------------------------------------------------------------------------->



<%if (competitor.length == 16 ) { %>
    <h1 class="text-center">Tournament Tree</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-1">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                      

                    </tr>
                </thead>
                <tbody>
                    <% for(let count=0; count < 1; count++) { %>
                        <tr>
                            
                            <td id="winner1">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton" onclick="nextRound()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td>                           
                        </tr>

                        <% } %>

                        <% for(let count=1; count < 2; count++) { %>
                        <tr>
                            
                            <td id="winner2">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton2" onclick="nextRoundB()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td>                           
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                      

                    </tr>
                </thead>
                <tbody>
                    <% for(let count=2; count < 3; count++) { %>
                        <tr>
                            
                            <td id="winner3">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton3" onclick="nextRoundC()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                          
                        </tr>

                        <% } %>

                        <% for(let count=3; count < 4; count++) { %>
                        <tr>
                            
                            <td id="winner4">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton4" onclick="nextRoundD()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                          
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                        


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=4; count < 5; count++) { %>
                        <tr>
                            
                            <td id="winner5">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton5" onclick="nextRoundE()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                          
                        </tr>

                        <% } %>

                        <% for(let count=5; count < 6; count++) { %>
                        <tr>
                            
                            <td id="winner6">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton6" onclick="nextRoundF()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                          
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=6; count < 7; count++) { %>
                        <tr>
                            
                            <td id="winner7">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton7" onclick="nextRoundG()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                          
                        </tr>

                        <% } %>

                        <% for(let count=7; count < 8; count++) { %>
                        <tr>
                            
                            <td id="winner8">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton8" onclick="nextRoundH()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                          
                        </tr>

                        <% } %>

                </tbody>
            </table>
        </div>
        <div class="col-1 align-self-center">
            <table class="table table-striped" id="newmatch">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                       


                    </tr>
                </thead>
                <tbody>
                        <tr>

                            </th>
                            <td id="newPart">

                            </td>
                            <td>
                             <button id="myButton9" onclick="nextRoundI()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                         
                        </tr>
                        <tr>

                            </th>
                            <td id="newPart2">

                            </td>
                            <td>
                             <button id="myButton10" onclick="nextRoundJ()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                         
                        </tr>

                   

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                        


                    </tr>
                </thead>
                <tbody>
                    <tr>

                            </th>
                            <td id="newPart3">

                            </td>
                            <td>
                             <button id="myButton11" onclick="nextRoundK()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                         
                        </tr>
                        <tr>

                            </th>
                            <td id="newPart4">

                            </td>
                            <td>
                             <button id="myButton12" onclick="nextRoundL()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                         
                        </tr>
                </tbody>
            </table>
        </div>
        <div class="col-1 align-self-center">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                        <tr>

                            </th>
                            <td id="newPart5">
                            </td>
                            
                            <td>
                             <button id="myButton13" onclick="nextRoundM()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                        </tr>
                        <tr>

                            </th>
                            <td id="newPart6">
                            </td>
                            
                            <td>
                             <button id="myButton14" onclick="nextRoundN()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                        </tr>

                       

                </tbody>
            </table>
        </div>
        <div class="col-1 align-self-center">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                        <tr>

                            </th>
                            <td id="newPart7">
                            </td>
                            
                            <td>
                             <button id="myButton15" onclick="nextRoundO()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                        </tr>

                       

                </tbody>
            </table>
        </div>
        <div class="col-1 align-self-center">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Champion</th>
                        


                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td id="newPart8">
                            </td>
                            
                            
                        </tr>

                       

                </tbody>
            </table>
        </div>
        <div class="col-1 align-self-center">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                        <tr>

                            </th>
                            <td id="newPart16">
                            </td>
                            
                            <td>
                             <button id="myButton16" onclick="nextRoundEE()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                        </tr>

                       

                </tbody>
            </table>
        </div>
        <div class="col-1 align-self-center">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                    <tr>

                            </th>
                            <td id="newPart14">
                            </td>
                            
                            <td>
                             <button id="myButton17" onclick="nextRoundCC()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                        </tr>
                        <tr>

                            </th>
                            <td id="newPart15">
                            </td>
                            
                            <td>
                             <button id="myButton18" onclick="nextRoundDD()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                        </tr>

                </tbody>
            </table>
        </div>
        <div class="col-1 align-self-center">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                    <tr>

                            </th>
                            <td id="newPart10">

                            </td>
                            <td>
                             <button id="myButton19" onclick="nextRoundY()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                         
                        </tr>
                        <tr>

                            </th>
                            <td id="newPart11">

                            </td>
                            <td>
                             <button id="myButton20" onclick="nextRoundZ()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                         
                        </tr>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                        


                    </tr>
                </thead>
                <tbody>
                    <tr>

                            </th>
                            <td id="newPart12">

                            </td>
                            <td>
                             <button id="myButton21" onclick="nextRoundAA()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                         
                        </tr>
                        <tr>

                            </th>
                            <td id="newPart13">

                            </td>
                            <td>
                             <button id="myButton22" onclick="nextRoundBB()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td> 
                         
                        </tr>
                </tbody>
            </table>
        </div>
        <div class="col-1">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                      

                    </tr>
                </thead>
                <tbody>
                    <% for(let count=8; count < 9; count++) { %>
                        <tr>
                            
                            <td id="winner9">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton23" onclick="nextRoundP()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td>                           
                        </tr>

                        <% } %>

                        <% for(let count=9; count < 10; count++) { %>
                        <tr>
                           
                            <td id="winner10">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton24" onclick="nextRoundQ()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td>                           
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                       
                    </tr>
                </thead>
                <tbody>
                    <% for(let count=10; count < 11; count++) { %>
                        <tr>
                            
                            <td id="winner11">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton25" onclick="nextRoundR()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td>                           
                        </tr>

                        <% } %>

                        <% for(let count=11; count < 12; count++) { %>
                        <tr>
                            
                            <td id="winner12">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton26" onclick="nextRoundS()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td>                           
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                        


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=12; count < 13; count++) { %>
                        <tr>
                            
                            <td id="winner13">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton27" onclick="nextRoundT()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td>                           
                        </tr>

                        <% } %>

                        <% for(let count=13; count < 14; count++) { %>
                        <tr>
                            
                            <td id="winner14">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton28" onclick="nextRoundU()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td>                           
                        </tr>

                        <% } %>

                </tbody>
            </table>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Team Name</th>
                        <th scope="col"></th>
                     


                    </tr>
                </thead>
                <tbody>
                    <% for(let count=14; count < 15; count++) { %>
                        <tr>
                            
                            <td id="winner15">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton29" onclick="nextRoundV()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td>                           
                        </tr>

                        <% } %>

                        <% for(let count=15; count < 16; count++) { %>
                        <tr>
                            
                            <td id="winner16">
                                <%= competitor[count].fullname %>
                            </td>
                            <td>
                             <button id="myButton30" onclick="nextRoundW()" type="button" class="btn btn-primary"><i class="fas fa-trophy"></i></button>
                            </td>                           
                        </tr>

                        <% } %>

                </tbody>
            </table>
        </div>
    </div>
</div>

<% } %>