<!--  File Name: tournament-list.ejs
      Author: Web Wiz
      Group Number: 1
      Date: July 13, 2021
-->
<div class="container">
<h1 >Tournament List</h1>
<div class="row">                 
    <div class="col">
      <% if(displayName) { %>
        <a href="/tournament-list/add" id="addButton" class="btn mb-5"><i class="fas fa-plus-circle"></i> Add Tournament</a>
        <% } %>
        <table id="comp" class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">Tournament ID</th>
                <th scope="col">Tournament Name</th>
                <th scope="col">Tournament Custom ID</th>
                <th scope="col">Number of Competitors</th>
                <th scope="col">Type</th>
                <th scope="col">Description</th>
                <th scope="col">Champion</th>
                <th></th>
                  <% if(displayName) { %>
                   <th></th>
                   <th></th>
                   <th></th>
                <% } %>
              </tr>
            </thead>
            <tbody>
                
              <!-- Repeatable Row Template -->

              <% for(let count = 0; count < tournament.length; count++) { %>
              
              <tr>
                <th scope="row"><%= count + 1 %></th>
                <td><%= tournament[count].tournamentName %> </td>
                <td><%= tournament[count].tournament_Custom_Id%> </td>
                <td><%= tournament[count].numberOfCompetitors %> </td>
                <td><%= tournament[count].type %> </td>
                <td><%= tournament[count].description %> </td>
                <td><%= tournament[count].champion %> </td>
                
                <% if(displayName) { %>
                <td class="text-center "><a href="/viewtourney" class="btn btn-success" onclick="store(this.id)" id="<%= tournament[count].tournament_Custom_Id%>" ><i class="fas fa-binoculars"></i>View</a></td>
                <td class="text-center "><a href="/competitor-list" class="btn btn-dark" onclick="store(this.id)" id="<%= tournament[count].tournament_Custom_Id%>" ><i class="fas fa-list"></i>Competitors</a></td>
                <td class="text-center "><a href="/tournament-list/edit/<%= tournament[count]._id %>" class="btn btn-primary"><i class="far fa-edit"></i> Edit</a></td>
                <td class="text-center "><a href="/tournament-list/delete/<%= tournament[count]._id %>" onclick="return confirm('Are you sure you want to delete this item? This action cannot be undone!');"class="btn btn-danger"><i class="far fa-trash-alt"></i> Delete</a></td>
                <% } %>
              </tr>

              <% } %>
             
            </tbody>
          </table>


    </div>
</div>
</div>
<script>
  function store (clicked_id) {
  let first = clicked_id;
  sessionStorage.setItem("tourney",first);
  console.log(first);
}
</script>

